{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h4 class="mb-3">Login BukuProspek</h4>

        <form method="post">
          <div class="mb-2">
            <label class="form-label">Access Code</label>
            <input class="form-control" name="access_code" required>
          </div>

          <div class="mb-3">
            <label class="form-label">PIN</label>
            <input type="password" class="form-control" name="pin" required>
          </div>

          <button class="btn btn-primary w-100">Masuk</button>
        </form>
      </div>
    </div>

    <div class="text-muted small mt-2">
      Dapatkan Access Code & PIN dari admin.
    </div>
  </div>
</div>
{% endblock %}
